:root {
    --base: #fff;
    --spacing: 10px;
    --blur: 10px;
}

h1 {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
}

input {
    margin-left: .5rem;
}

label {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    display: block;
    margin: auto;
    margin-top: 2rem;
    max-width: 80%;
    height: 500px;
}